[Desktop Entry]
Version=1.0
Type=Application
Name=Antigravity CLI
Comment=Antigravity TUI Client
Exec=xdg-terminal-exec --app-id=TUI.tile -e agy
Terminal=false
Icon=/home/dominus/.local/share/applications/icons/Antigravity CLI.png
StartupNotify=true
Path=/home/dominus/src
