[Desktop Entry]
Version=1.0
Name=Deepseek ai
Comment=Deepseek ai
Exec=omarchy-launch-webapp https://chat.deepseek.com/
Terminal=false
Type=Application
Icon=/home/dominus/.local/share/applications/icons/Deepseek ai.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
