[Desktop Entry]
Version=1.0
Name=Disk Usage
Comment=Disk Usage
Exec=xdg-terminal-exec --app-id=TUI.float -e bash -c 'dust -r; read -n 1 -s'
Terminal=false
Type=Application
Icon=/home/dominus/.local/share/applications/icons/Disk Usage.png
StartupNotify=true
Categories=ConsoleOnly;TUI;Utility;
Keywords=tui;terminal;cli;
