[Desktop Entry]
Version=1.0
Name=ExcaliDraw
Comment=ExcaliDraw
Exec=omarchy-launch-webapp https://excalidraw.com/
Terminal=false
Type=Application
Icon=/home/dominus/.local/share/applications/icons/ExcaliDraw.png
StartupNotify=true
