[Desktop Entry]
Version=1.0
Name=Fronted Masters
Comment=Fronted Masters
Exec=omarchy-launch-webapp https://frontendmasters.com/dashboard/
Terminal=false
Type=Application
Icon=/home/dominus/.local/share/applications/icons/Fronted Masters.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
