[Desktop Entry]
Version=1.0
Name=HBO MAX
Comment=HBO MAX
Exec=omarchy-launch-webapp https://play.hbomax.com/
Terminal=false
Type=Application
Icon=/home/dominus/.local/share/applications/icons/HBO.png
StartupNotify=true
