[Desktop Entry]
Version=1.0
Type=Application
Name=Hermes TUI
Comment=Hermes Terminal Agent
Exec=kitty --class=hermes-tui --title="Hermes Agent" -e hermes --tui
Terminal=false
Icon=/home/dominus/.local/share/applications/icons/Hermes.png
StartupNotify=true
Path=/home/dominus
