[Desktop Entry]
Version=1.0
Name=Kimi ai
Comment=Kimi ai
Exec=omarchy-launch-webapp https://www.kimi.com/
Terminal=false
Type=Application
Icon=/home/dominus/.local/share/applications/icons/Kimi ai.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
