[Desktop Entry]
Version=1.0
Name=Manus ai
Comment=Manus ai
Exec=omarchy-launch-webapp https://manus.im/app
Terminal=false
Type=Application
Icon=/home/rollo/.local/share/applications/icons/Manus ai.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
