[Desktop Entry]
Version=1.0
Type=Application
Name=MiMoCode TUI
Comment=MiMoCode Terminal Application
Exec=xdg-terminal-exec --app-id=TUI.tile -e mimo
Terminal=false
Icon=/home/dominus/.local/share/applications/icons/mimo.png
StartupNotify=true
Path=/home/dominus
Categories=ConsoleOnly;TUI;Utility;
Keywords=tui;terminal;cli;
