[Desktop Entry]
Version=1.0
Type=Application
Name=MiMo AI Studio
Comment=MiMo AI Studio Web App
Exec=omarchy-launch-webapp https://aistudio.xiaomimimo.com/#/c
Terminal=false
Icon=/home/dominus/.local/share/applications/icons/mimo.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
