[Desktop Entry]
Version=1.0
Name=Mistral ai
Comment=Mistral ai
Exec=omarchy-launch-webapp https://chat.mistral.ai/chat
Terminal=false
Type=Application
Icon=/home/rollo/.local/share/applications/icons/Mistral ai.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
