[Desktop Entry]
Name=Terminal Disk Usage Analizer
GenericName=Disk Usage Analyzer
Comment=Check disk space usage in kitty terminal
Exec=kitty --class=ncdu --title="Disk Usage Analyzer" -e ncdu
Terminal=false
Type=Application
Icon=/home/rollo/.local/share/applications/icons/ncdu.png
StartupNotify=false
Categories=ConsoleOnly;TUI;Utility;
Keywords=tui;terminal;cli;
