[Desktop Entry]
Version=1.0
Name=Netflix
Comment=Netflix
Exec=omarchy-launch-webapp https://www.netflix.com/browse
Terminal=false
Type=Application
Icon=/home/rollo/.local/share/applications/icons/Netflix.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
