[Desktop Entry]
Version=1.0
Name=NotebookLM
Comment=NotebookLM
Exec=omarchy-launch-webapp https://notebooklm.google.com/
Terminal=false
Type=Application
Icon=/home/rollo/.local/share/applications/icons/NotebookLM.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
