[Desktop Entry]
Version=1.0
Type=Application
Name=OpenClaw TUI
Comment=OpenClaw Terminal UI
Exec=xdg-terminal-exec --app-id=TUI.tile -e openclaw tui --session main
Terminal=false
Icon=/home/rollo/.local/share/applications/icons/OpenClaw.png
StartupNotify=true
Categories=ConsoleOnly;TUI;Utility;
Keywords=tui;terminal;cli;
