[Desktop Entry]
Version=1.0
Type=Application
Name=OpenCode TUI
Comment=OpenCode Terminal UI Agent
Exec=xdg-terminal-exec --app-id=TUI.tile -e opencode
Terminal=false
Icon=/home/dominus/.local/share/applications/icons/OpenCode.png
StartupNotify=true
Path=/home/dominus/src
Categories=ConsoleOnly;TUI;Utility;
Keywords=tui;terminal;cli;
