[Desktop Entry]
Version=1.0
Type=Application
Name=OpenCode Desktop
Comment=OpenCode Desktop Application
Exec=opencode-desktop %U
Terminal=false
Icon=/home/rollo/.local/share/applications/icons/OpenCode.png
StartupNotify=true
StartupWMClass=opencode-desktop
MimeType=x-scheme-handler/opencode;
Categories=Development;
Path=/home/rollo/src
