[Desktop Entry]
Version=1.0
Name=Qwen ai
Comment=Qwen ai
Exec=omarchy-launch-webapp https://chat.qwen.ai/
Terminal=false
Type=Application
Icon=/home/rollo/.local/share/applications/icons/Qwen ai.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
