[Desktop Entry]
Version=1.0
Name=Vix
Comment=Vix
Exec=omarchy-launch-webapp https://vix.com/es-es
Terminal=false
Type=Application
Icon=/home/dominus/.local/share/applications/icons/Vix.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
