[Desktop Entry]
Version=1.0
Name=WhatsApp 2
Comment=WhatsApp 2
Exec=microsoft-edge-stable --app=https://web.whatsapp.com/
Terminal=false
Type=Application
Icon=/home/rollo/.local/share/applications/icons/WhatsApp.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
