[Desktop Entry]
Version=1.0
Name=X bookmarks
Comment=X bookmarks
Exec=omarchy-launch-webapp https://x.com/i/bookmarks
Terminal=false
Type=Application
Icon=/home/rollo/.local/share/applications/icons/X.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
