[Desktop Entry]
Version=1.0
Name=X Grok
Comment=X Grok
Exec=omarchy-launch-webapp https://x.com/i/grok
Terminal=false
Type=Application
Icon=/home/dominus/.local/share/applications/icons/X.png
StartupNotify=true
Categories=WebApps;Network;
Keywords=web;webapp;browser;
